$cor-principal: #A0C3D2;
$cor-secundaria: #F7F5EB;

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin cor-e-texto ($cor-bg, $cor-texto) {
    width: 50%;
    background-color: $cor-bg;
    
    .texto {
        margin-top: 40%;
        text-align: center;
        font-size: 100px;
        color: $cor-texto;
    }
}

body {
    @include reset();
}

.container {
    height: 100vh;
    display: flex;

    .esquerdo {
        @include cor-e-texto($cor-principal, $cor-secundaria);
    }

    .direito {
        @include cor-e-texto($cor-secundaria, $cor-principal);
    }
}